.container{
    position: relative;
    width: 1500px;
    align-content: center;
    background-color: transparent;
  }

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 350px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #d1e0e0;
}

/* Add some padding inside the card container */
.card-body {
    padding: 10px 10px 10px 10px;

}

.divCoupon{
    display:table-cell;
    vertical-align:middle;
}

.btn-Primary{
    background-color: #cf7b04;
    color: white;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 160px;
    left: 0;
    padding: 0rem;
}

.promo {
    padding: 5px 10px;
    color: white;
    background: rgba(232, 22, 22, 0.6);
    display: inline-block;
    border-radius: 8px;
   }

.descuento {
    padding: 5px 10px;
    color: white;
    background: rgba(232, 22, 22, 1);
    display: inline-block;
    border-radius: 8px;
   }
