.navbar {
    background-color: #cf7b04;
    box-shadow: 10px 10px 30px #999;
}

.styleA{
    background-color: #cf7b04;
    color: white;
    padding: 8px 15px;
    text-aling: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.9s;
        cursor: pointer;

}



.styleA:hover{
    background-color: white;
    color: #cf7b04;
}


.image:hover {
    width: 100px;
    height: 100px;
    transition-duration: 0.9s;
    opacity: 0.7;
}

