.container{
    position: relative;
    width: 1300px;
    align-content: center;
    background-color: transparent;
  }

.card-body {
    padding: 10px 0px 10px 30px;

}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.btn {
        background: white;
        width: 250px;
        height: 150px;
        padding: 0px;
    text-align: center;
    text-decoration: none;
    font-size: 0px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        background-color: white;
        color: black;
}


.btn:hover {
    color: black;
    font-size: 30px;

}

.card:hover {
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 160px;
    left: 0;
    padding: 0rem;

}



.category:hover {
 -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
    opacity: 0.3;
}

