.container{
    position: relative;
    width: 1300px;
    align-content: center;
    background-color: transparent;
  }

.btn {
        background: white;
        width: 250px;
        height: 150px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        background-color: white;
        color: black;
}

.btn:hover {
    background-color: #E1A81B;
    color: white;

}

